<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq02R8KgEH6qddqWDqR_OrsNVpJghNlPU</string>
	<key>GCM_SENDER_ID</key>
	<string>95227256306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceapp</string>
	<key>PROJECT_ID</key>
	<string>fooddeliveryapp-b4d4f</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliveryapp-b4d4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95227256306:ios:44c39cfb2a2064d2c8df6b</string>
</dict>
</plist>